TABLE {
	BORDER-RIGHT-WIDTH: 0px; BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
P {
	FONT-FAMILY: verdana,arial,sans-serif; FONT-SIZE: 10pt
}
H1 {
	FONT-FAMILY: verdana,arial,sans-serif; FONT-SIZE: 10pt
}
H2 {
	FONT-FAMILY: verdana,arial,sans-serif; FONT-SIZE: 10pt
}
H3 {
	FONT-FAMILY: verdana,arial,sans-serif; FONT-SIZE: 10pt
}
TH {
	FONT-FAMILY: verdana,arial,sans-serif; FONT-SIZE: 10pt
}
TD {
	FONT-FAMILY: courier,monospace; FONT-SIZE: 10pt
}
TABLE.hdft {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
TABLE.hdft TH {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: normal; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
TABLE.hdft TD {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: normal; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
TABLE.hdft TH.tl {
	BACKGROUND: #6699cc; COLOR: white
}
TABLE.hdft TD.tl {
	BACKGROUND: #6699cc; COLOR: white
}
TABLE.hdft TD.nv {
	BACKGROUND: #6633dd; COLOR: white
}
.nv A:link {
	COLOR: white
}
.nv A:visited {
	COLOR: white
}
.nv A:active {
	COLOR: yellow
}
TABLE.hdft A:link {
	COLOR: white
}
TABLE.hdft A:visited {
	COLOR: white
}
TABLE.hdft A:active {
	COLOR: yellow
}
.in {
	COLOR: #356085
}
TABLE.s TD {
	PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em
}
TABLE.s TD.l {
	TEXT-ALIGN: right; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; BACKGROUND: #f0f0f0
}
TABLE.s TR.z TD {
	BACKGROUND: #ff9999
}
TABLE.s TR.p TD {
	BACKGROUND: #ffff88
}
TABLE.s TR.c TD {
	BACKGROUND: #ccffcc
}
A:link {
	COLOR: #0000ee; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000ee; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000ee; TEXT-DECORATION: underline
}
TABLE.cn {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
TABLE.s {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
TD.h {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: red; BORDER-LEFT-WIDTH: 0px
}
TD.f {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px
}
TD.hf {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: red; BORDER-LEFT-WIDTH: 1px
}
TH.f {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
TR.cis TD {
	BACKGROUND: #f0f0f0
}
TR.cis TD {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
TR.cis TD.h {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: red; BORDER-LEFT-WIDTH: 0px
}
TR.cis TD.f {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
TR.cis TD.hf {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: red; BORDER-LEFT-WIDTH: 1px
}
TD.b {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 50%; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-RIGHT-STYLE: none
}
TD.bt {
	LINE-HEIGHT: 50%; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TR.o TD {
	BACKGROUND: #f0f0f0
}
TABLE.it {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
TABLE.it TD {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
TABLE.it TH {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
